@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Manrope, sans-serif;
  font-size: 1em;
  background-color: #edf2f8;
}

main {
  position: relative;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  main {
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  main {
    max-width: 750px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  main > img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
}
@media screen and (min-width: 768px) {
  main > img {
    width: 300px;
    height: 300px;
    border-radius: 10px 0 0 10px;
  }
}
main .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 0 10px 10px 0;
}
main .main__title {
  font-size: 1.2em;
  font-weight: 700;
}
main .main__content {
  color: #49556b;
}
main .main__profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .main__profile__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
main .main__profile__container__image {
  width: 40px;
  border-radius: 50%;
}
main .main__profile__container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .main__profile__container__content span {
  color: #49556b;
}
main .main__profile__share {
  background-color: rgba(73, 85, 107, 0.2);
  padding: 8px;
  border-radius: 50%;
  z-index: 10;
}

.social-media-links {
  display: none;
  gap: 15px;
  background-color: #49556b;
  z-index: 5;
}
.social-media-links p {
  color: white;
}

@media screen and (max-width: 768px) {
  .social-media-links {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    border-radius: 0 0 10px 10px;
  }
  .main__profile {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .social-media-links {
    position: absolute;
    bottom: 30%;
    right: -7%;
    width: 200px;
    height: 50px;
    border-radius: 5px;
  }
  .social-media-links::after {
    content: " ";
    z-index: -10;
    width: 1px;
    height: 20px;
    position: absolute;
    bottom: -38px;
    border-top: 20px solid #49556b;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
