@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Variables
$bodyBgColor: #edf2f8;
$shareBgColor: #49556b;

// Mixin
@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* { margin: 0; }


body {
    min-height: 100vh;
    @include flexbox(column, center, center);
    font-family: Manrope, sans-serif;
    font-size: 1em;
    background-color: $bodyBgColor;
}

main {
    position: relative;
    @media screen and (max-width: 768px) {
        max-width: 28rem;
        @include flexbox(column, center, center);
    }
    @media screen and (min-width: 768px) {
        max-width: 750px;
        min-height: 300px;
        @include flexbox(row, center, center);
    }
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    > img {

        @media screen and (max-width: 768px) {
            width: 100%;
            height: 200px;
            border-radius: 10px 10px 0 0;
        }
        @media screen and (min-width: 768px) {
            width: 300px;
            height: 300px;
            border-radius: 10px 0 0 10px;
        }
    }
    .main {
        @include flexbox(column, center, center);
        gap: 15px;
        padding: 30px;
        border-radius: 0 10px 10px 0;

        &__title {
            font-size: 1.2em;
            font-weight: 700;
        }
        &__content {
            color: $shareBgColor;
        }
        &__profile {
            width: 100%;
            @include flexbox(row, space-between, center);    

            &__container {
                @include flexbox(row, flex-start, center);
                gap: 15px;

                &__image {
                    width: 40px;
                    border-radius: 50%;
                }
                &__content {
                    @include flexbox(column, center, flex-start);

                    span {
                        color: $shareBgColor;
                    }
                }
            }
            &__share {
                background-color: rgba(73, 85, 107, 0.2);
                padding: 8px;
                border-radius: 50%;
                z-index: 10;
            }
        }
    }
}

.social-media-links {
    display: none;
    gap: 15px;
    background-color: $shareBgColor;
    z-index: 5;
    p {
        color: white;
    }
}
@media screen and (max-width: 768px) {
    .social-media-links {
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 20px;
        border-radius: 0 0 10px 10px;
    }

    .main__profile {
        margin-top: 3rem;
    }

}
@media screen and (min-width: 768px) {
    .social-media-links {
        position: absolute;
        bottom: 30%;
        right: -7%;

        width: 200px;
        height: 50px;
        border-radius: 5px;
        
        &::after {
            content: " ";
            z-index: -10;
            width: 1px;
            height: 20px;
            position: absolute;
            bottom: -38px;
            border-top: 20px solid $shareBgColor;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }
}

.active {

    @media screen and (max-width: 768px) {
        @include flexbox(row, flex-start, center);
    }
    @media screen and (min-width: 768px) {
        @include flexbox(row, center, center);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    & a {
        color: hsl(228, 45%, 44%);
    }
}